body {
    background-color: #d9d9d9;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9b4753;
}

input {
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-size: 1rem;
    text-align: center;
}

button {
    margin: 5px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #d6abb1;
    color: #312736;
}

button:hover {
    cursor: pointer;
    background-color: #c4ffeb;
}

